.MessageList {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 75vw;
    padding: 20px;
    overflow-y: scroll;
}

.Message {
    margin-bottom: 13px;
    line-height: 1.5;
    padding: 10px;
    background: #ddd;
    max-width: 50%;
}

.MyMessage {
    background: #eee;
    align-self: flex-end;
}